<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Health ChatBot</title>
</head>
<body>
    <main>
        <h1>Health Chat Bot</h1>
        <div id="chatbot">
            <h3>{{ welcome_msg }}</h3>
            <div id="user-area">
                <div id="answers">
                    {% for message in all_messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                </div>
                <form action="/ask" method="post">
                    <input type="text" name="symptom-input" placeholder=" Enter your Symptoms" id="symptom-input">
                    <input type="submit" value="Send" id="button">
                </form>
            </div>
        </div>
    </main>
</body>
</html>